:root{
    --green-color: hsl(93, 61%, 56%);
    --magenta-color: hsl(329, 84%, 52%);
    --purple-color: hsl(251, 36%, 48%);
    --yellow-color: hsl(45, 100%, 50%);
    --lightGray-color: hsl(0, 0%, 69%);
    --mediumGray-color: hsl(0, 0%, 36%);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--mediumGray-color);
}
body{
    min-width: 300px;
    font-size: 15px;
}
.home{
    background-color: var(--green-color);
}
.login a{
    color: white;
}
h3{
    font-weight: 600;
}
.Tmagenta{
    color: var(--magenta-color);
}

footer{
    background-color: var(--purple-color);
}
.derechos{
    opacity: 0.5;
}
.jugos{
    height: 200px;
    background-image: url(../img/jugos.png);
    background-color: var(--green-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.jugos:hover{
    background-image: none;
}
.cerveza{
    height: 200px;
    background-image: url(../img/cerveza.png);
    background-color: var(--yellow-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cerveza:hover{
    background-image: none;
}
.vinos{
    height: 200px;
    background-image: url(../img/vino.png);
    background-color: var(--purple-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vinos:hover{
    background-image: none;
}
.otros{
    height: 200px;
    background-image: url(../img/otros.png);
    background-color: var(--magenta-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.otros:hover{
    background-image: none;
}
.form{
    background-image:url(../img/contacto_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor{
    background-color: hsla(0, 0%, 100%, 0.8);
}
.cajas{
    padding: 8px 5px;
    border-style: none;
    border-bottom-style: solid;
    border-color: var(--lightGray-color);
    border-width: 2px;
    cursor: pointer;
    background: none;
}
.mensaje{
    height: 150px !important;
}
.cajas:focus{
    border-color: var(--magenta-color);
}
.enviar{
    background-color: var(--magenta-color);
    font-weight: 600;
}
.enviar:hover{
    background-color: hsl(329, 85%, 43%);
}
.spam{
    background-color: var(--yellow-color);
}
.spam p{
    font-weight: 600;
}