:root{
    --green-color: hsl(93, 61%, 56%);
    --purple-color: hsl(251, 36%, 48%);
    --lightGray-color: hsl(0, 0%, 69%);
    --mediumGray-color: hsl(0, 0%, 36%);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--mediumGray-color);
}
body{
    min-width: 300px;
    font-size: 15px;
}
.cabecera{
    background-color: var(--green-color);
}
.login a{
    color: white;
}
h3, h4{
    font-weight: 600;
}
h4{
    color: var(--green-color);
}
.imgProducto{
    border-style: solid;
    border-width: 3px;
    border-color:  hsla(93, 61%, 56%, 0.5);
}
.producto{
    margin: 20px 0;
}
.producto :hover{
    border-color: var(--green-color);
    border-width: 3px;
    transition: 0.25s;
    text-decoration: none;
}
footer{
    background-color: var(--purple-color);
}
.derechos{
    opacity: 0.5;
}